.FilePoliticsPage {
    height: calc(100% - 12px);
    border-left: none;
    flex-grow: 1;
}

.FilePoliticsPageContainer {
    margin: -25px 0 0 12px;
    padding: 20px 12px 0 0;
    overflow-y: auto;
    height: 100%;
}

.FilePoliticsPageContainer::-webkit-scrollbar {
    background-color: var(--retro-button-color);
    width: 20px;

    border-top: solid 2px black;
    border-right: solid 2px #545454;
    border-bottom: solid 2px #545454;
    border-left: solid 2px black;
}

.FilePoliticsPageContainer::-webkit-scrollbar-thumb {
    background-color: var(--retro-color);

    border-top: solid 2px #545454;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px #545454;
}

.Settings {
    width: 100%;
}

.Matrix {
    width: 100%;
    height: 350px;
}