.RetroTextArea {
    font-family: var(--retro-font);
    font-size: var(--retro-font-size);
    color: var(--retro-color);
    background-color: var(--retro-button-color);

    padding: 3px 7px;
    border: var(--retro-border);
    outline: none;
    resize: none;
}